@font-face {
    font-family: myFont;
    src: url(nofex.ttf.otf);
}

.nofex{
    font-family: myFont;
}

a:visited{
    color: skyblue;
}

.top{
    display: flex;
    background-color: black;
    color: skyblue;
    justify-content: space-evenly
}

.logo{
    width: 150px;
    height: auto;
}


