@font-face {
    font-family: myFont;
    src: url(Gefika.otf);
}

.nofex{
    font-family: myFont;
}

a{
    color: skyblue;
}

a:visited{
    color: skyblue;
}

.top{
    display: flex;
    background-color: black;
    color: skyblue;
    justify-content: space-evenly;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.box{
    font-family: myFont;
    width: 350px;
    height: 350px;
    color: skyblue;
    text-align: center;
    padding: 20px;
    border: 5px solid skyblue;
    border-radius: 20px;
}

.game-box{
    font-family: myFont;
    width: 200px;
    height: 200px;
    color: skyblue;
    text-align: center;
    padding: 20px;
    border: 5px solid skyblue;
    border-radius: 20px;
}

.profile{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.profile-details{
    display: flex;
    flex-direction: column;
    font-family: myFont;
    color: skyblue;
    padding: 20px;
    border: 5px solid skyblue;
    border-radius: 20px;
}

.updates{
    display: flex;
    align-items: center;
    font-family: myFont;
    color: skyblue;
    padding: 20px;
    border: 5px solid skyblue;
    border-radius: 20px;
}

.pfp{
    width: 300px;
    height: auto;
    padding: 20px;
    border: 5px solid skyblue;
    border-radius: 20px;
}

.logo{
    width: 150px;
    height: auto;
}


